{% extends 'base.html' %}
{% load static %}


{% block container %}
    <!-- END templateux-navbar -->
    <section class="templateux-hero overlay"  data-scrollax-parent="true">
      <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="{% static 'images/dj2_new.jpg' %}"></div>

      <div class="container">
        <div class="row align-items-center justify-content-center intro">
          <div class="col-md-10" data-aos="fade-up">
            <h1>Обо мне</h1>
            <p class="lead">Меня зовут Dj Neo, он же Сергей Скляров, он же супер-профессионал и классный парень. Люблю жаркие танцы, весёлые праздники и радостные улыбки. Поэтому с 2000 года полностью посвятил себя работе event-диджея и развлекаю людей. Обожаю свою работу и по праву горжусь победой в конкурсе "Диджей планеты". "Попробовав раз заказываю и сейчас" — говорят обо мне клиенты. </p>
            <a href="#next" class="go-down js-smoothscroll"></a>
          </div>
        </div>
      </div>

    </section>
    <!-- END templateux-hero -->
    
    
    <section class="templateux-section" id="next">

      <div class="container py-5" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12 clearfix mb-3">
            <h1>100% гарантия качества!</h1>
          </div>

        </div>



        <div class="row templateux-section" id="reviews">
          <div class="col-md-12 clearfix mb-5">
            <h2>Отзывы</h2>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/BOhDR9n4u2s-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Маша и Алексей</h3>
                  <p class="block-38-subheading">молодожены</p>
                </div>
                <div class="block-38-body">
                  <p>Сергей я с мужем вам очень благодарна за отличное проведение праздника. Всё прошло очень даже весело, дискотека всем понравилась. Вас нам по рекомендовали и мы в вас не ошиблись. Такой профессионализм встретишь не часто. Всем друзьям будим рекомендовать только Вас. Мы желаем Вам творческих успехов в работе. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/197Q9BEFS4E-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Екатерина</h3>
                  <p class="block-38-subheading">Молодая супруга</p>
                </div>
                <div class="block-38-body">
                  <p>Здравствуйте Сергей! Спасибо за музыкальное сопровождение на нашей свадьбе! Действительно качественный звук и профессиональная работа! Все было по высшему разряду! Отдельная благодарнось за ваш подарок - лазерное шоу и дымовая завеса! Нам и нашим гостям все очень понравилось! Будем вас рекомендовать своим друзьям и близким! Творческих успехов и процветания в вашем деле! </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/eSjmZW9-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Армен Говоркян</h3>
                  <p class="block-38-subheading">Знаток города</p>
                </div>
                <div class="block-38-body">
                  <p>Сергей, спасибо ОГРОМНОЕ-ПРЕОГРОМНОЕ!!!!!!!!!!!!! Мы просто в восторге! Все прошло так как мы хотели! Музыкальный ряд был подобран со вкусом. Каждый гость был в ритме праздника- музыка была просто потрясающая. Для каждого подобралась мелодия для души! Сергей профессиональный и чуткий диджей! Комфорт, удовольствие и праздник души-вот главное, что Сергей удачно воплотил в жизнь! СПАСИБО!!! </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/iEsRaFjsVU-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Ирина</h3>
                  <p class="block-38-subheading">Счастливая жена</p>
                </div>
                <div class="block-38-body">
                  <p>Dj Neo был диджеем на нашей свадьбе, и могу отметить ответственность и профессионализм Сергея! Были учтены все мои пожелания! Абсолютно все гости были на танцполе! Подобрано было все отлично еще и в стиле нашей свадьбы (морской стиль). Мы очень благодарны Сергею и будем обязательно его приглашать еще и рекомендавать друзьям и знакомым!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/odKeTFsBDg-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Аркадий</h3>
                  <p class="block-38-subheading">Мужчина в самом расцвете сил</p>
                </div>
                <div class="block-38-body">
                  <p>Приглашал диджея Сергея Склярова на день рождение жены. Всё прошло как нельзя отлично! Он был внимателен ко всем музыкальным просьбам, тактичен, отзывчив! Подготовил отличную программу на вечер, и держал всех в тонусе и позитиве! Сразу видно, когда диджей любит своё дело и всё делает с душой! Очень благодарны, он сделал наш праздник!!! Буду рекомендовать друзьям и знакомым.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/yq2zyWLzaR0-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Сергей и Олеся</h3>
                  <p class="block-38-subheading">Юбиляры</p>
                </div>
                <div class="block-38-body">
                  <p>Сергей здравствуйте! Хотим поблагодарить Вас и Андрея за отличное проведение нашего свадебного вчера! Нам и гостям очень понравилась Ваша совместная работа, музыка в конкурсах всегда звучала к месту и воврем,конкурсы необычные и веселые, все гости с удовольствием участвовали! Вы с Андреем замечательная команда, отлично дополняющие друг жруга. С первым танцем тоже все прошло отлично! Все наши пожелания были учтены и Вы отлично поняли музыкальные предпочтения нас и наших гостей, танцевали все))) Помоему это главный показатель Вашего профессионализма! Огромное спасибо!!Думаем дисконтная карта пригодится нам еще не раз! </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!--      <div class="container-fluid">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12" data-aos="fade-up">-->
<!--            <div class="owl-carousel dots-overlap wide-slider">-->
<!--              <div class="item"><img src="{% static 'images/photo16734.jpg' %}" alt="Free Template" class="img-fluid"></div>-->
<!--              <div class="item"><img src="{% static 'images/photo16_.jpeg' %}" alt="Free Template" class="img-fluid"></div>-->
<!--              <div class="item"><img src="{% static 'images/photo16734280.jpeg' %}" alt="Free Template" class="img-fluid"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; END row &ndash;&gt;-->
<!--        </div>-->

    </section>
    <!-- END section -->


    

<!--    <section class="templateux-section">-->


<!--&lt;!&ndash;      <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-12 clearfix mb-5" data-aos="fade-up">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2>We Are Experts</h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="100">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-monitor display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">Web Development</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="200">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-command display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">Brand identity</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="300">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-feather display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">Copywriting</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; END row &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="100">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-shopping-cart display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">eCommerce</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="200">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-video display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">Video Editing</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="300">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-layers2 display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">Data Driven Applications</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; END row &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </section>-->
<!--<a class="templateux-section templateux-cta animsition-link" href="https://t.me/+79167001720"-->
<!--   data-aos="fade-up">-->
<!--    <div class="container-fluid">-->
<!--        <div class="cta-inner">-->
<!--            <h2><span class="words-1">Написать в Telegram </span> <span class="words-2">Назови пароль DJNEO и получи подарок!</span>-->
<!--            </h2>-->
<!--        </div>-->
<!--    </div>-->
<!--</a>-->

<!--<div class="container">-->

<!--            <div class="row">-->

<!--              <div class="col-md-8">-->





<!--                <div class="pt-5 mt-5">-->


<!--                  <div class="comment-form-wrap pt-5">-->
<!--                    <h3 class="mb-5">Оставить отзыв</h3>-->
<!--                    <form action="#" class="">-->
<!--                      <div class="form-group">-->
<!--                        <label for="name">Имя *</label>-->
<!--                        <input type="text" class="form-control" id="name">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="email">Email *</label>-->
<!--                        <input type="email" class="form-control" id="email">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="website">Кто Вы?</label>-->
<!--                        <input type="url" class="form-control" id="website">-->
<!--                      </div>-->

<!--                      <div class="form-group">-->
<!--                        <label for="message">Сообщение</label>-->
<!--                        <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <input type="submit" value="Оставить отзыв" class="btn py-3 px-4 btn-primary">-->
<!--                      </div>-->

<!--                    </form>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div> &lt;!&ndash; .col-md-8 &ndash;&gt;-->


<!--            </div>-->


<!--          </div>-->

        <div class="row pt-5" data-aos="fade-up" data-aos-delay="100">
          <div class="col-md-12 text-center">
            <a href="{% url 'reviews' %}#reviews-2" class="button button--red  mb-5">ещё отзывы</a>
          </div>
        </div>

    <a class="templateux-section templateux-cta animsition-link" href="{% url 'contact' %}" data-aos="fade-up">
      <div class="container-fluid">
        <div class="cta-inner">
          <h2><span class="words-1">Закажи мероприятие прямо сейчас.</span> <span class="words-2">Назови пароль DJ NEO - План мероприятия в подарок!</span></h2>
        </div>
      </div>
    </a>
    <!-- END call to action -->
{% endblock %}
