{% extends 'base.html' %}
{% load static %}


{% block container %}
    <!-- END templateux-navbar -->
    <section class="templateux-hero overlay"  data-scrollax-parent="true">
      <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="{% static 'images/dj2_new.jpg' %}"></div>

      <div class="container">
        <div class="row align-items-center justify-content-center intro">
          <div class="col-md-10" data-aos="fade-up">
            <h1>Обо мне</h1>
            <p class="lead">Меня зовут Dj Neo, он же Сергей Скляров, он же супер-профессионал и классный парень. Люблю жаркие танцы, весёлые праздники и радостные улыбки. Поэтому с 2000 года полностью посвятил себя работе event-диджея и развлекаю людей. Обожаю свою работу и по праву горжусь победой в конкурсе "Диджей планеты". "Попробовав раз заказываю и сейчас" — говорят обо мне клиенты. </p>
            <a href="#next" class="go-down js-smoothscroll"></a>
          </div>
        </div>
      </div>

    </section>
    <!-- END templateux-hero -->
    
    
    <section class="templateux-section" id="next">

      <div class="container py-5" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12 clearfix mb-3">
            <h1>100% гарантия качества!</h1>
          </div>

        </div>



        <div class="row templateux-section" id="reviews-2">
          <div class="col-md-12 clearfix mb-5">
            <h2>Отзывы</h2>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/BOhDR9n4u2s-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Компания ДРАГА</h3>
                  <p class="block-38-subheading">Январь 2022</p>
                </div>
                <div class="block-38-body">
                  <p>В прошлом году мы провели с Сергеем три разноформатных корпоративных мероприятия: "домашнее" в офисе, на теплоходе, на летней площадке загородного клуба в Подмосковье для компании из 80 человек. В любой обстановке музыкальное сопровождение было на самом высшем уровне! Dj просто "зажег" народ, был на одной волне с коллективом! Танцы остановить было невозможно! Никто не хотел расходиться. Отличная музыка, ответственное отношение ко всем организационным вопросам, всё четко, вовремя, аппаратура не подвела ни разу. Спасибо, Сергей! </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/197Q9BEFS4E-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Евгения - ведущая</h3>
                  <p class="block-38-subheading">декабрь 2021</p>
                </div>
                <div class="block-38-body">
                  <p>Добрый день) Не так давно (24 декабря) мне посчастливилось поработать с Сергеем. Дело в том, что у нас была Новогодняя корп. вечеринка в стиле "MAFIA" и я была ведущей. Больше всего я переживала за музыку, ведь музыка 30х годов не совсем танцевальная для современной публики, а окунуться в атмосферу тех лет все же хотелось. Благодаря Сергею, нам удалось и окунуться в годы гангстеров и позажигать, ведь подборка миксов была прям в тему))) Хочу поблагодарить Сергея за прекрасное настроение, которое он подарил всем нам благодаря прекрасной музыке, дыму и светомузыке во время танцевальных перерывов и не только. Спасибо, Сергей, ты настоящий профи своего дела!!!))) Как только будет намечаться корп. вечеринка, я обязательно с тобой свяжусь, ведь работать с таким профессионалом легко и просто. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/eSjmZW9-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Илья и Рита</h3>
                  <p class="block-38-subheading">ноябрь 2021</p>
                </div>
                <div class="block-38-body">
                  <p>Сергей - Вы просто великолепный диджей. Сегодня весь день мне все гости говорили про Вас и Андрея - какие хорошие были ведущий и диджей. Никаких неловких пауз. Всё динамично, чётко. Стилем музыки удовлетворили всем поколениям - хотя это невозможно, по-моему. Такой, незаметный, идеально качественный человек на свадьбе. Спасибо! </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/iEsRaFjsVU-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Екатерина</h3>
                  <p class="block-38-subheading">июнь 2021</p>
                </div>
                <div class="block-38-body">
                  <p>Уважаемый Сергей! Сотрудники ТЦ «Леруа Мерлен» Красногорск выражают Вам искреннюю благодарность за музыкальное сопровождение и великолепное проведение дискотеки. Желаем Вам профессиональных успехов и надеемся на дальнейшее плодотворное сотрудничество!
Директор магазина Быстрова А.Е.
Контролер управления Мадер Е.А.
Руководитель службы персонала Роменская С.С.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/odKeTFsBDg-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Нелли, ГК Траскон</h3>
                  <p class="block-38-subheading">май 2021</p>
                </div>
                <div class="block-38-body">
                  <p>Добрый день дамы и господа. Мой отзыв будет обращен именно к Вам, т.к. Вы имеете уникальную возможность заказать услуги DJ Сергея)))) Выбирайте не пожалеете. Я от лица нашей компании благодарна Сергею за отличное проведение корпоратива . Музыка была очень удачно подобрана. Сотрудники от души натанцевались. Если кому-то захочется лично меня спросить о том, как работает Сергей, с удовольствием отвечу и покажу фото с корпоратива. Мои контакты kashpur@trascon.ru Нелли.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="block-38 ">
              <div class="block-38-img">
                <div class="block-38-header">
<!--                  <img src="{% static 'images/yq2zyWLzaR0-min.jpg' %}" alt="Image placeholder">-->
                  <h3 class="block-38-heading">Кужель А.Л.</h3>
                  <p class="block-38-subheading">апрель 2021</p>
                </div>
                <div class="block-38-body">
                  <p>Мы очень благодарны Вам за хороший, отличный музыкальный вечер! Гости остались очень довольны, все их пожелания на протяжении всего вечера были выполнены. при проведении следующих торжественных мероприятий есть желание пригласить Вас еще! Спасибо Вам, Сергей! </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!--      <div class="container-fluid">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12" data-aos="fade-up">-->
<!--            <div class="owl-carousel dots-overlap wide-slider">-->
<!--              <div class="item"><img src="{% static 'images/photo16734.jpg' %}" alt="Free Template" class="img-fluid"></div>-->
<!--              <div class="item"><img src="{% static 'images/photo16_.jpeg' %}" alt="Free Template" class="img-fluid"></div>-->
<!--              <div class="item"><img src="{% static 'images/photo16734280.jpeg' %}" alt="Free Template" class="img-fluid"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; END row &ndash;&gt;-->
<!--        </div>-->

    </section>
    <!-- END section -->


    

<!--    <section class="templateux-section">-->


<!--&lt;!&ndash;      <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-12 clearfix mb-5" data-aos="fade-up">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2>We Are Experts</h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="100">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-monitor display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">Web Development</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="200">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-command display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">Brand identity</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="300">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-feather display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">Copywriting</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; END row &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="100">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-shopping-cart display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">eCommerce</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="200">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-video display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">Video Editing</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-md-4"  data-aos="fade-up" data-aos-delay="300">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media templateux-media mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="mr-4 icon">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-layers2 display-3"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="h5">Data Driven Applications</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; END row &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </section>-->
<!--<a class="templateux-section templateux-cta animsition-link" href="https://t.me/+79167001720"-->
<!--   data-aos="fade-up">-->
<!--    <div class="container-fluid">-->
<!--        <div class="cta-inner">-->
<!--            <h2><span class="words-1">Написать в Telegram </span> <span class="words-2">Назови пароль DJNEO и получи подарок!</span>-->
<!--            </h2>-->
<!--        </div>-->
<!--    </div>-->
<!--</a>-->

<!--<div class="container">-->

<!--            <div class="row">-->

<!--              <div class="col-md-8">-->





<!--                <div class="pt-5 mt-5">-->


<!--                  <div class="comment-form-wrap pt-5">-->
<!--                    <h3 class="mb-5">Оставить отзыв</h3>-->
<!--                    <form action="#" class="">-->
<!--                      <div class="form-group">-->
<!--                        <label for="name">Имя *</label>-->
<!--                        <input type="text" class="form-control" id="name">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="email">Email *</label>-->
<!--                        <input type="email" class="form-control" id="email">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="website">Кто Вы?</label>-->
<!--                        <input type="url" class="form-control" id="website">-->
<!--                      </div>-->

<!--                      <div class="form-group">-->
<!--                        <label for="message">Сообщение</label>-->
<!--                        <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <input type="submit" value="Оставить отзыв" class="btn py-3 px-4 btn-primary">-->
<!--                      </div>-->

<!--                    </form>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div> &lt;!&ndash; .col-md-8 &ndash;&gt;-->


<!--            </div>-->


<!--          </div>-->

        <div class="row pt-5" data-aos="fade-up" data-aos-delay="100">
          <div class="col-md-12 text-center">
            <a href="{% url 'index' %}" class="button button--red  mb-5">На главную</a>
          </div>
        </div>

    <a class="templateux-section templateux-cta animsition-link" href="{% url 'contact' %}" data-aos="fade-up">
      <div class="container-fluid">
        <div class="cta-inner">
          <h2><span class="words-1">Закажи мероприятие прямо сейчас.</span> <span class="words-2">Назови пароль DJ NEO - План мероприятия в подарок!</span></h2>
        </div>
      </div>
    </a>
    <!-- END call to action -->


{% endblock %}
