{% extends 'base.html' %}
{% load static %}


{% block container %}

    <!-- END templateux-navbar -->
    <section class="templateux-hero overlay"  data-scrollax-parent="true">
      <!-- <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="images/hero_2.jpg" /></div> -->
      <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="{% static 'images/dj2_new.jpg' %}"></div>

      <div class="container">
        <div class="row align-items-center justify-content-center intro">
          <div class="col-md-10" data-aos="fade-up">
            <h1>Свадьба</h1>
            <p class="lead">Ах... Эта свадьба, свадьба... пела...</p>
            <a href="#next" class="go-down js-smoothscroll"></a>
          </div>
        </div>
      </div>
    </section>
    <!-- END templateux-hero -->
    
    
    <section class="templateux-portfolio-overlap mb-5" id="next">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6" data-aos="fade-up">
            <a class="project animsition-link" href="{% url 'work_single' %}">
              <figure>
                <img src="{% static 'images/djneo30.jpg' %}" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Праздник наша работа</h2>
                  <span>И мы любим нашу работу</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project animsition-link" href="{% url 'work_single' %}">
              <figure>
                <img src="{% static 'images/djneo14.jpg' %}" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>БОКС?</h2>
                  <span>Мы умеем и это</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- END row -->
    
        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <a class="project animsition-link" href="{% url 'work_single' %}">
              <figure>
                <img src="{% static 'images/djneo13.jpg' %}" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Свадьба в стиле 90-х ?</h2>
                  <span>Организуем!</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project animsition-link" href="{% url 'work_single' %}">
              <figure>
                <img src="{% static 'images/djneo4.jpg' %}" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Праздник на природе?</h2>
                  <span>Мы будем рады организовать праздик и на природе!</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <a class="project animsition-link" href="{% url 'work_single' %}">
              <figure>
                <img src="{% static 'images/djneo21.jpg' %}" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Юморной ведущий - НАДА?</h2>
                  <span>Легко!!!</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- END row -->

        <div class="row">
          <div class="col-md-6" data-aos="fade-up">
            <a class="project animsition-link" href="{% url 'work_single' %}">
              <figure>
                <img src="{% static 'images/djneo35.jpg' %}" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Выпускной?</h2>
                  <span>Мы и это умеем</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project animsition-link" href="{% url 'work_single' %}">
              <figure>
                <img src="{% static 'images/djneo36.jpg' %}" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Создать нужную атмосферу</h2>
                  <span>Я собаку на этом съел )))</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- END row -->

        <div class="row mb-5">
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <a class="project animsition-link" href="{% url 'work_single' %}">
              <figure>
                <img src="{% static 'images/djneo40.jpg' %}" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Любите 90-тые?</h2>
                  <span>Мы подберём необходимый антураж</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project animsition-link" href="{% url 'work_single' %}">
              <figure>
                <img src="{% static 'images/djneo29.jpg' %}" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>А может добавим юмора?</h2>
                  <span>Недорого :-)</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <a class="project animsition-link" href="{% url 'work_single' %}">
              <figure>
                <img src="{% static 'images/djneo39.jpg' %}" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Заряжаю на танцы!</h2>
                  <span>Сеанс пошёл</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- END row -->

      </div>
    </section>

   
    <a class="templateux-section templateux-cta animsition-link mt-5" href="{% url 'contact' %}" data-aos="fade-up">
      <div class="container-fluid">
        <div class="cta-inner">
          <h2><span class="words-1">Закажи прямо сейчас</span> <span class="words-2">при заказе с сайта - скидки!</span></h2>
        </div>
      </div>
    </a>

{% endblock %}